/* /////////////////////////// header */


:root {
    --Verde:#46D7AB;
    --outro-verde:#57e1c1eb;
    --vermelho:#FB6C6C;
    --rosa: #ee8282;
    --azul:#4676A4;
    --amarelo:#FFB87D;
    --amarelo-claro:#ffcca1;
    --branco:#ffffff;
    --cinza:#E5E5E5;
    --preto:#303943;
    --verde-escuro:#3E8570;
    --vermelho-escuro:#DE5050;
    --azul-escuro:#4689C7;
    --outro-azul:#66aef2;
    --amarelo-escuro:#FBCD66;
    --font:'Circular Std';
    
}

body {
    background-color: var(--branco);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.botao_voltar {
    position: relative;
    justify-content: baseline;
    padding: 0 1rem;
    top: -1.7rem;
}

.imagem_lista {
    position: relative;
    left: 55%;
    top: -1.9rem;
    z-index: 1;
}

.pokedex {
    color: var(--preto);
    font-size: 30px;
    font-family: var(--font);
    padding: 0 1rem;
    transform: translate(0, -300%);
    z-index: 2;
}

.pokedex::first-letter{
    text-transform: uppercase;
}

.imagem_pokebola {
    position: relative;
}

/* /////////////////////////// header */

.cards {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5rem;
    align-items: center;
    /* padding: 0 35rem 0 35rem; */
    transform: translate(0%, -10%);
}

.card {
    width: 10rem;
    height: 8rem;
    margin: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    

}


.card_dados {

    padding-top: 0.6rem;
    width: 4.5rem;
    padding-left: 0.5rem;
    
}



.nome_pokemon {
    color: var(--branco);
    max-width: 5rem;
    padding-bottom: 1rem;
}

.teste {


    

}


.imagem_pokemon {

    width: 4rem;
    height: 4rem;
    margin-top: 3rem;
    position: absolute;
    transform: translate(15%, 0%);
    z-index: 1;
}

.mini_bokebola {
    z-index: 2;
    width: 88px;
    height: 88px;
    position: absolute;
}

.numero_pokemon {

    
    position: absolute;
    margin-left: 7rem;
    margin-top: 1rem;
    
}

.card_dados {
    margin-top: 0.8rem;
    
    
}

.pokemon_types{
    color: var(--branco);
    min-width: 4.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;

}

.pokemon_type {
    background: var(--outro-verde);
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;

}
























.pokemon_type::first-letter {
    text-transform: uppercase;
}


.nome_pokemon::first-letter{
    text-transform: uppercase;
}

.tipo_pokemon::first-letter {
    text-transform: uppercase;
}

.grama {
    background-color: var(--Verde);
    color: var(--verde-escuro);
}

.fire .pokemon_type{
    
    background-color: var(--rosa);

}
.fire {
    background-color: var(--vermelho);
    color: var(--vermelho-escuro);
}


.agua {
    background-color: var(--azul-escuro);
    color: var(--azul);
}

.agua .pokemon_type{
    background-color: var(--outro-azul);

}

.eletro {
    background-color: var(--amarelo);
    color: var(--amarelo-escuro);
}

.eletro .pokemon_type{
    background-color: var(--amarelo-claro);
    
}



/* ////////////////////// dados pokemon //////////////////////// */












